<div class="main-container">
    <div class="container" >
        <div class="row">
            <div class="page-header">
                版權聲明
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12 float-left">
                    <div class="well sub-well">
                        <div class="content">
                            <p>
                                本網頁的內容，包括但不限於所有文本、平面圖像、圖畫、圖片、照片以及數據或其他資料的匯編，均受版權保障。香港風火堂國術協會（下稱「本會」）是本網頁內所有版權作品的擁有人，除非預先得到本會的書面授權，否則嚴禁複製、改編、分發、翻譯、發佈或向公眾提供該等版權作品。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>