<div class="main-container">
    <div class="container backgroundImage" >
        <div class="row">
            <div class="page-header">
                版權聲明
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12 float-left">
                    <div class="well sub-well">
                        <div class="content">
                            <p>
                                XXXXX
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>