<div class="main-container">
    <div class="container backgroundImage" >
        <div class="row">
            <div class="page-header">
                免責條款
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12 float-left">
                    <div class="well sub-well">
                        <div class="content">
                            <p>
                                香港風火堂國術協會（下稱「本會」）載於本網站的資料只供參考和一般資訊之用。雖然本會已盡力確保本網站的資料準確，但不保證或陳述該等資料是否完整、準確或最新，故本會特此聲明, 本網站所載的資料如有任何不確之處、遺漏、誤植錯字或錯誤陳述或失實陳述（不論明示或黙示的）而引致或所涉及的損失，一概不負上任何責任。亦對其他於本網站的連結網站之不侵權、保安、於某用途的適用性、不受電腦病毒影響等不作出保証。如因使用或進入本網站或任何連結網站或依據本網站或任何連結網站的內容而招致任何損失或損害，本會一律不負上任何責任。
                            </p>
                            <p>
                                當您使用本網站，即表示您無條件接受上述所載的免責條款以及任本會不時在無須預先通知您的情況下而對上述條款所作出的修改及/或修訂。請定期瀏覽此網站查閱任何修改及/或修訂。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>