.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: #fff;
    background-color: #20a8d8;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1985ac;
}

.badge-secondary {
    color: #23282c;
    background-color: #c8ced3;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
    color: #23282c;
    text-decoration: none;
    background-color: #acb5bc;
}

.badge-success {
    color: #fff;
    background-color: #4dbd74;
}

.badge-success[href]:hover, .badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3a9d5d;
}

.badge-info {
    color: #23282c;
    background-color: #63c2de;
}

.badge-info[href]:hover, .badge-info[href]:focus {
    color: #23282c;
    text-decoration: none;
    background-color: #39b2d5;
}

.badge-warning {
    color: #23282c;
    background-color: #ffc107;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {
    color: #23282c;
    text-decoration: none;
    background-color: #d39e00;
}

.badge-danger {
    color: #fff;
    background-color: #f86c6b;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #f63c3a;
}

.badge-light {
    color: #23282c;
    background-color: #f0f3f5;
}

.badge-light[href]:hover, .badge-light[href]:focus {
    color: #23282c;
    text-decoration: none;
    background-color: #d1dbe1;
}

.badge-dark {
    color: #fff;
    background-color: #2f353a;
}

.badge-dark[href]:hover, .badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #181b1e;
}

.pagingNav{
    background: rgba(0,0,0,0) !important;
    border-bottom: 1px solid rgbasg-imagea(0, 0, 0, 0) !important;

    text-align: center;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

/*.asg-thumbnail{*/
    /*padding-top: 380px !important;*/
    /*background: rgba(0, 0, 0, 0) !important;*/
/*}*/

.gallery{
    background: rgba(0, 0, 0, 0.8) !important;
}

.news-asg-thumbnail > .asg-thumbnail{
    padding-top: 640px !important;
    background: rgba(0, 0, 0, 0) !important;
}

.event-asg-thumbnail > .asg-thumbnail{
    padding-top: 640px !important;
    background: rgba(0, 0, 0, 0) !important;
}

.asg-thumbnail div{
    z-index: 900;
}

/*.asg-image{*/
    /*height: 473px !important;*/
    /*width: 630px !important;*/
/*}*/

.toBackward .btn-lg{
    margin-left: 8px;
}

.arrows div .btn-lg {
    min-width: 20px !important;
}

.frame .header{
    font-size: 12px !important;
}

.frame .header .buttons{
    padding-top: 0px !important ;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

body{
    font-family: "微軟正黑體 Light" ;
    background-image: url("../images/background.bmp");
    background-repeat : repeat-y;
}

.menu-navigation{
    /*background: rgba(0, 0, 0, 0) !important;*/
    background-image: url("../images/background.bmp");
    background-repeat: no-repeat;
}

.menu li a {
    font-size: 16px;
    font-family: "微軟正黑體 Light" ;
}

.site-title{
    background: url("../images/menu_logo.png") no-repeat left;
    background-size: 480px 70px;
    display: inline-block;
    height: 100px;
    width: 1000px;
}

.main-container{
    background: rgba(0, 0, 0, 0) ;
}

footer{
    background-color: #f5f5f5;
    padding: 30px !important;
}

.page-header{
    color : #EE7700 ;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.main-well{
    background: rgba(245, 245, 245, 0.5) ;
}

.sub-well{
    background: rgba(245, 245, 245, 0) ;
    background-color: #fcfaf0;
    margin: 0px;
}

.news{
    border-bottom: 1px #c7c4a5 solid;
    margin-bottom: 10px;
}

.content, .content *{
    font-size: 16px;
    padding-top: 5px;
    font-weight: 600;
    margin-bottom: 10px;
}

.date{
    font-size: 12px;
    float: right;
    font-weight: normal;
}

.date-2{
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

.dropdown-menu{
    background: rgba(255, 255, 255, 1) !important;
}

.outOfSight > .nav-bar > .flex-row > .module-group > .module > .collapse > .menu > .dropdown > .dropdown-menu{
    background: rgba(255, 255, 255, 1) !important;
}

.menu > li > ul li a:hover, .dropdown-menu > .active > a:hover {
     background: #c7c4a5;
}

.banner{
    width:100%;
    height:150px;
    margin-bottom: 20px;
}

.image-w200{
    width:200px ;
}

.highlight-cell{
    margin-left:4%;
    margin-right:4%;
    padding:5px;
    margin-bottom: 50px;
    text-align: center;
}

.highlight-image{
    width : 200px;
    height: 200px;
    display:block;
    margin:auto;
}