<div class="main-container" ng-controller="NewsDetailsController">
    <div class="container" >
        <div class="row">
            <div class="page-header">
                <div class="badge badge-status left
                    {{news.type=='EVENT'?'badge-success':''}}
                    {{news.type=='INFO'?'badge-info':''}}
                    {{news.type=='UPDATE'?'badge-warning':''}}">
                    {{news.type=='EVENT'?'活動':''}}
                    {{news.type=='INFO'?'公告':''}}
                    {{news.type=='UPDATE'?'更新':''}}
                </div>
                {{news.title}}
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12 float-left">
                    <div class="well sub-well">
                        <div class="right">
                                <span class="date">
                                    更新日期 : {{news.date}}
                                </span>
                        </div>

                        <div class="content">
                            <br>
                            <p ng-repeat="desc in news.description">
                                {{desc}}
                            </p>

                            <div ng-show="news.eventId">
                                按此<u><a href="#!/home">更多花絮</a></u>
                            </div>

                            <div ng-show="news.images.length>0">
                                <asg-image data-id="newsDetailsGallery" data-options="newsGalleryOptions" data-items="news.images">
                                    <asg-modal data-visible="false"></asg-modal>
                                    <asg-thumbnail class="news-asg-thumbnail"></asg-thumbnail>
                                </asg-image>
                                <br>
                            </div>

                            <div id="map" style="height: 400px;width: 100%" ng-show="news.mapLocation!=null"></div>
                            <script>
                                function initMapNewsDetails() {
                                    var newsDetailsUluru = $('[ng-controller="NewsDetailsController"]').scope().newsDetailsUluru;
                                    var map = new google.maps.Map(
                                        document.getElementById('map'), {zoom: 18, center: newsDetailsUluru});
                                    var marker = new google.maps.Marker({position: newsDetailsUluru, map: map});
                                }
                            </script>
                            <script
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1MEGdAjOR1VH85BA5GX4Sq7P1afoAZJg&callback=initMapNewsDetails">
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>