<div class="main-container">
    <div class="container" >
        <div class="row">
            <div class="page-header">
                武術源流
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12 float-left" style="right:5px;">
                    <div class="well sub-well float-left">
                        <div class="content">
                            <img class="banner" src="{{originBanner}}" ng-show="originBanner"/>
                            <p ng-repeat="descObject in originDescription | orderBy:'index'">
                                <br ng-repeat="n in [] | range:descObject.brAmount" />
                                <img ng-if="descObject.type == 'image'" class="float-right image-w200" style="margin:10px"
                                     src="{{descObject.content}}">
                                {{descObject.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>