<div class="main-container">
    <div class="container" >
        <div class="row">
            <div class="page-header">
                本會宗旨
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12" style="right:5px;">
                    <div class="well sub-well">
                        <div class="content">
                            <img class="banner" src="{{purposeImage1}}">

                            <p class="float-right" style="margin:10px">
                                <img src="{{purposeImage2}}">
                            </p>

                            <p class="" ng-repeat="desc in purposeDescription">
                                {{desc}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>