<div class="main-container">
    <div class="container backgroundImage">
        <div class="row">
            <div class="page-header" ng-show="!purposeBanner">
                本會宗旨
            </div>
            <img class="banner" src="{{purposeBanner}}" ng-show="purposeBanner"/>

            <div clas="col-md-12">
                <div class="well main-well col-md-12 float-left">
                    <div class="well sub-well float-left col-md-12">
                        <div class="content">
                            <p style="text-align:justify;" ng-repeat="descObject in purposeDescription | orderBy:'id'">
                                <br ng-repeat="n in [] | range:descObject.brAmount" />
                                <img ng-if="descObject.type == 'image'" class="float-right image-w300" style="margin:10px"
                                     src="{{descObject.content}}">

                                <span ng-if="descObject.type =='text'">
                                    {{descObject.content}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>