<div class="main-container" ng-controller="ContactUsController">
    <div class="container backgroundImage">
        <div class="row">
            <div class="page-header">
                聯絡我們
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12">
                    <div class="well sub-well">
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>