<div class="main-container" ng-controller="EventsDetailsController">
    <div class="container" >
        <div class="row">
            <div class="page-header">
                {{event.name}}
            </div>
            <div clas="col-md-12">
                <div class="well main-well col-md-12 float-left">
                    <div class="well sub-well">
                        <div class="right">
                                <span class="date">
                                    日期 : {{event.date}}
                                </span>
                        </div>

                        <div class="content">
                            <br>
                            <table class="eventTable">
                                <tr>
                                    <td>
                                        <p>
                                            {{event.description}}
                                        </p>
                                    </td>
                                    <td rowspan="2" style="width: 30%;" ng-show="event.youtubes.length>0">
                                        <div class="header">
                                            影片
                                        </div>
                                        <div class="video-vertical-card">
                                            <div ng-repeat="url in event.youtubes">
                                                <ng-youtube-embed
                                                        video="url"
                                                        autoplay="false"
                                                        color="white"
                                                        disablekb="true"
                                                        end="20">
                                                </ng-youtube-embed>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="event.images.length>0">
                                    <td>
                                        <div class="header">
                                            相冊
                                        </div>
                                        <div>
                                            <asg-image data-id="eventDetailsGallery" data-options="eventsGalleryOptions" data-items="event.images">
                                                <asg-modal data-visible="false"></asg-modal>
                                                <asg-thumbnail class="event-asg-thumbnail"></asg-thumbnail>
                                            </asg-image>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>